# Load dataset

In [1]:
from scipy.io import arff
import pandas as pd
import numpy as np

In [2]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])

In [3]:
df['bankruptcy'] = (df['class']==b'1')

In [4]:
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,bankruptcy
0,0.159290,0.46240,0.07773,1.1683,-44.853,0.467020,0.189480,0.82895,1.1223,0.38330,...,0.41557,0.89101,0.001422,7.7928,4.9914,119.810,3.0465,3.0560,b'0',False
1,-0.127430,0.46243,0.26917,1.7517,7.597,0.000925,-0.127430,1.16250,1.2944,0.53757,...,-0.23704,1.06250,0.150410,5.4327,3.4629,100.970,3.6150,3.4725,b'0',False
2,0.070488,0.23570,0.52781,3.2393,125.680,0.163670,0.086895,2.87180,1.0574,0.67689,...,0.10413,0.94571,0.000000,7.1070,3.3808,76.076,4.7978,4.7818,b'0',False
3,0.136760,0.40538,0.31543,1.8705,19.115,0.504970,0.136760,1.45390,1.1144,0.58938,...,0.23203,0.89737,0.073024,6.1384,4.2241,88.299,4.1337,4.6484,b'0',False
4,-0.110080,0.69793,0.18878,1.2713,-15.344,0.000000,-0.110080,0.43282,1.7350,0.30207,...,-0.36440,0.57153,0.000000,18.8010,2.7925,146.390,2.4934,15.0360,b'0',False

In [5]:
df.describe()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,9791.000000,9791.000000,9791.000000,9749.000000,9.771000e+03,9791.000000,9791.000000,9773.000000,9792.000000,9791.000000,...,9.792000e+03,9771.000000,9791.000000,9776.000000,9791.000000,9178.000000,9760.000000,9.771000e+03,9749.000000,9561.000000
mean,0.043019,0.596404,0.130959,8.136600,6.465164e+01,-0.059273,0.059446,19.884016,1.882296,0.389040,...,7.686330e+03,-0.992263,0.035022,1.133287,0.856053,118.156064,25.194430,2.015157e+03,8.660813,35.949619
std,0.359321,4.587122,4.559074,290.647281,1.475939e+04,6.812754,0.533344,698.697015,17.674650,4.590299,...,7.605261e+04,77.007971,8.945365,8.038201,26.393305,3230.316692,1099.260821,1.171461e+05,60.838202,483.318623
min,-12.458000,0.000000,-445.910000,-0.045319,-3.794600e+05,-486.820000,-12.458000,-1.848200,-0.032371,-445.910000,...,-7.132200e+05,-7522.100000,-597.420000,-30.892000,-284.380000,0.000000,-12.656000,-1.496500e+04,-0.024390,-0.000015
25%,0.001321,0.263145,0.020377,1.047000,-5.121700e+01,-0.000578,0.003004,0.428300,1.006675,0.294440,...,2.184000e+01,0.003121,0.008768,0.885722,0.000000,5.356325,4.267700,4.323400e+01,2.938800,2.012900
50%,0.041364,0.467740,0.199290,1.591800,-5.557600e-02,0.000000,0.048820,1.088700,1.161300,0.510450,...,9.503300e+02,0.043679,0.098026,0.958305,0.002129,9.482000,6.283550,7.472900e+01,4.848900,4.041600
75%,0.111130,0.689255,0.410670,2.880400,5.573200e+01,0.065322,0.126940,2.691000,1.970225,0.714290,...,4.694550e+03,0.117170,0.242680,0.996163,0.211790,19.506000,9.938200,1.233450e+02,8.363800,9.413500
max,20.482000,446.910000,22.769000,27146.000000,1.034100e+06,322.200000,38.618000,53209.000000,1704.800000,12.602000,...,6.123700e+06,112.020000,226.760000,668.750000,1661.000000,251570.000000,108000.000000,1.077900e+07,5662.400000,21153.000000

# Create a new df with 4 features

In [10]:
new_features_df = df[['Attr1','Attr2','Attr7','Attr10','bankruptcy']]
new_features_df.columns=['X1','X2','X7','X10','Bankruptcy']

In [11]:
new_features_df

            X1       X2        X7      X10  Bankruptcy
0     0.159290  0.46240  0.189480  0.38330       False
1    -0.127430  0.46243 -0.127430  0.53757       False
2     0.070488  0.23570  0.086895  0.67689       False
3     0.136760  0.40538  0.136760  0.58938       False
4    -0.110080  0.69793 -0.110080  0.30207       False
...        ...      ...       ...      ...         ...
9787  0.004676  0.54949  0.013002  0.43205        True
9788 -0.027610  0.60748 -0.027610  0.33509        True
9789 -0.238290  0.62708 -0.240360  0.17760        True
9790  0.097188  0.75300  0.104280  0.24700        True
9791  0.021416  0.48678  0.027253  0.51267        True

[9792 rows x 5 columns]

In [13]:
new_features_df.isnull().sum()

X1            1
X2            1
X7            1
X10           1
Bankruptcy    0
dtype: int64

# Fillna with columns' mean

In [16]:
new_features_df.fillna(new_features_df.mean(),inplace=True)

D:\Software\anaconda3\lib\site-packages\pandas\core\generic.py:6383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [17]:
new_features_df.isnull().sum()

X1            0
X2            0
X7            0
X10           0
Bankruptcy    0
dtype: int64

# Calculate the mean and std

- among all

In [24]:
print("The mean of four features:\n",new_features_df[['X1','X2','X7','X10']].mean())
print("The std of four features:\n",new_features_df[['X1','X2','X7','X10']].std())

The mean of four features:
 X1     0.043019
X2     0.596404
X7     0.059446
X10    0.389040
dtype: float64
The std of four features:
 X1     0.359303
X2     4.586887
X7     0.533317
X10    4.590064
dtype: float64

- among bankrupt

In [25]:
bankrupt_features_df = new_features_df[new_features_df.Bankruptcy==True]
print("The mean of four features:\n",bankrupt_features_df[['X1','X2','X7','X10']].mean())
print("The std of four features:\n",bankrupt_features_df[['X1','X2','X7','X10']].std())

The mean of four features:
 X1    -0.068873
X2     0.878355
X7    -0.061538
X10    0.103367
dtype: float64
The std of four features:
 X1     0.568076
X2     1.945596
X7     0.568432
X10    1.946747
dtype: float64

- among still-running

In [27]:
running_features_df = new_features_df[new_features_df.Bankruptcy==False]
print("The mean of four features:\n",running_features_df[['X1','X2','X7','X10']].mean())
print("The std of four features:\n",running_features_df[['X1','X2','X7','X10']].std())

The mean of four features:
 X1     0.049231
X2     0.580752
X7     0.066162
X10    0.404899
dtype: float64
The std of four features:
 X1     0.343002
X2     4.689694
X7     0.530524
X10    4.692934
dtype: float64

# Count the company satisfying the condition

In [28]:
mean_minus_std = new_features_df.mean()-new_features_df.std()
mean_minus_std

X1           -0.316283
X2           -3.990484
X7           -0.473871
X10          -4.201024
Bankruptcy   -0.170639
dtype: float64

In [34]:
cdt1 = new_features_df.X1 < mean_minus_std.X1
cdt2 = new_features_df.X10 < mean_minus_std.X10

In [35]:
filtered_features_df = new_features_df[cdt1 & cdt2]

In [37]:
print("The number of companies that satisfy the condition is:",filtered_features_df.shape[0])

The number of companies that satisfy the condition is: 15

# Calculate the ratio of bankrupt among above

In [40]:
print("The ratio of the bankrupted companies among the sub-groups above is: ",filtered_features_df.Bankruptcy.mean())

The ratio of the bankrupted companies among the sub-groups above is:  0.2